.card {
    padding: 15px 10px;
    text-align: center;
    width: 399px;
    height: 320px;
    background-color: #D0CFCF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-img {
    margin: 0px;
    padding: 0px;
    height: 253px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.laptop-category {
    padding: 20px;
    font-size: 24px;
}