@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;200;300;400;500;600;700;800&display=swap');

.locator-bar {
    font-family: 'Anek Malayalam', sans-serif;
    background-image: linear-gradient(to right, #468ab1, #1f5879, #0C5178);
    margin: 0px; 
    height: 100%; 
    padding: 20px 40px; 
}

